@use '../../../colors.scss' as *;

.grid-container {
    max-width: 100%;
}

@media(max-width: 768px) {
    .ttahub-recipients-with-ohs-standard-fei-goal--filters {
        align-items: flex-start;
        flex-direction: column;
    }
}

.ttahub-recipients-with-ohs-standard-fei-goal-widget-heading {
    font-size: 1.25em;
}