.smart-hub--table-widget-container {
  container: ttahub-widget-title-group / inline-size;
}

.smart-hub--table-widget-heading-titles {
  /* magic number, arrived at by trial and error */
  width: 80%;
}

@container ttahub-widget-title-group (min-width: 560px) {
  .smart-hub--table-widget-heading-titles {
    width: 100%;
  }
}
