.new-activity-report {
  font-family: Merriweather;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 40px;
  margin-top: 40px;
}

.smart-hub--form-section {
  margin-top: 2rem;
}

.smart-hub--report-checkbox {
  margin-top: 1.25rem;
}

.smart-hub--report-legend .usa-legend {
  font-family: Merriweather;
  font-size: 17px;
  color: #21272d;
  line-height: 22px;
  height: 16px;
  font-weight: 700;
}

.usa-label {
  font-size: 1rem;
}

.smart-hub--form-large {
  max-width: 500px;
}

.usa-label {
  max-width: 500px;
}
