.new-activity-report {
  font-family: Merriweather;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 40px;
  margin-top: 40px;
}

