style
  include ../email.css
p Hello,
p Training Report #{displayId} has been completed.
p Access this report in the TTA Hub:
ul
  li 
    a(href=reportPath)= displayId
p Best Regards,
  br
  | Your TTA Hub team
