.ttahub-activity-report-view h1 {
    white-space: initial;
}

.ttahub-activity-report-view hr{
    margin: auto 0;    
}

@media( min-width: 1200px ) {
    .ttahub-activity-report-view {
        max-width: 900px;
    }

    .ttahub-activity-report-view hr { 
        max-width: 600px;
    }
}

@media print {
    .smart-hub-offset-nav {
        margin-top: 0;
    }
    /* how clumsy it is to set padding-top 0 to a class named padding 5? */
    .ttahub-activity-report-view > .padding-5 {
        padding-top: 0;
    }
}
