.ttahub-activity-report-view h1 {
    white-space: initial;
}

.ttahub-activity-report-view hr{
    margin: auto 0;    
}

@media( min-width: 1200px ) {
    .ttahub-activity-report-view {
        max-width: 900px;
    }

    .ttahub-activity-report-view hr { 
        max-width: 600px;
    }
}

@media print {
    .smart-hub-offset-nav {
        max-width: none;
    }

    .smart-hub-offset-nav, .ttahub-activity-report-view {
        max-width: none;
    }
    .ttahub-activity-report-view .activity-summary-table caption {
        border-top: 1px solid #C5C5C5;
        border-left: 1px solid #C5C5C5;
        border-right: 1px solid #C5C5C5;
        margin-bottom: 0;
    }
    
    .ttahub-activity-report-view .activity-summary-table td, 
    .ttahub-activity-report-view .activity-summary-table th {
        border: 1px solid #C5C5C5;
    }

    .ttahub-activity-report-view h1 {
        margin: 1em 0;
    }

    .ttahub-activity-report-view hr {
        display: none;
    }

    .smart-hub-offset-nav {
        margin-top: 0;
        margin-right: 0;
    }

    .smart-hub-offset-nav > .grid-col-12 {
        margin: 0;
    }
    
    /* how clumsy it is to set padding-top 0 to a class named padding 5? */
    .ttahub-activity-report-view > .padding-5 {
        padding: 0;
    }
}
