.goal-history-content {
  margin-bottom: 2rem;

  .goal-status-section {
    margin-bottom: 1.5rem;
  }

  .goal-updates-section {
    background-color: #e2eff7; // ttahub-blue-light
    padding: 0.25rem 1.5rem 1.5rem;
    border-radius: 4px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .objective-section {
    margin-bottom: 1.5rem;
  }

  .responses-section {
    margin-bottom: 1.5rem;
  }

  ul.usa-list {
    padding-left: 1.5rem;
    margin-top: 0.5rem;
  }
}