@use '../../../colors' as *;

$min-width-title-column: 216px;
$min-width-id-column: 107px;
$min-width-organizer-column: 150px;
$min-width-reason-column: 160px;
$min-width-date-column: 115px;
$max-width-date-column: 50%;

.ttahub-event-card {
  margin-bottom: 1rem;
}

.ttahub-event-card,
.ttahub-event-card .smart-hub-tooltip {
  font-size: 1.06rem;
}

// Title.
.ttahub-event-card__event-column__title {
  flex-basis: clamp($min-width-title-column, 100%, 100%);
}

// Event ID.
.ttahub-event-card__event-column__id {
  flex-basis: clamp($min-width-id-column, 100%, 100%);
}

// Event Organizer.
.ttahub-event-card__event-column__organizer {
  flex-basis: clamp($min-width-organizer-column, 100%, 100%);
}

// Event Reason.
.ttahub-event-card__event-column__reason {
  flex-basis: clamp($min-width-reason-column, 100%, 100%);
}

// Event Date.
.ttahub-event-card__event-column__date {
  flex-basis: clamp($min-width-date-column, 100%, 100%);
}


.ttahub-event-card__event-column:not(:last-child) {
  margin-bottom: 16px;
}


.ttahub-event-card__event-reason-tool-tip {
  display: none;
}

.ttahub-event-card__event-reason-csv {
  display: block;
}


@media(min-width: 627px) {
  .ttahub-event-card__event-column:not(:nth-child(n+3):nth-child(-n+5)) {
    margin-bottom: 16px;
  }
}


@media(min-width: 1215px) {

  // Title.
  .ttahub-event-card__event-column__title {
    flex-basis: clamp($min-width-title-column, 60%, 100%);
  }

  // Event ID.
  .ttahub-event-card__event-column__id {
    flex-basis: clamp($min-width-id-column, 15%, 100%);
  }

  // Event Organizer.
  .ttahub-event-card__event-column__organizer {
    flex-basis: clamp($min-width-organizer-column, 20%, 100%);
  }

  // Event Reason.
  .ttahub-event-card__event-column__reason {
    flex-basis: clamp($min-width-reason-column, 20%, 100%);
  }

  // Event Date.
  .ttahub-event-card__event-column__date {
    flex-basis: clamp($min-width-date-column, 12.5%, 100%);
  }
}

@media(min-width: 1475px) {

  // Title.
  .ttahub-event-card__event-column__title {
    flex-basis: clamp($min-width-title-column, 25%, 100%);
  }

  // Event ID.
  .ttahub-event-card__event-column__id {
    flex-basis: clamp($min-width-id-column, 12%, 100%);
  }

  // Event Organizer.
  .ttahub-event-card__event-column__organizer {
    flex-basis: clamp($min-width-organizer-column, 18%, 100%);
  }

  // Event Reason.
  .ttahub-event-card__event-column__reason {
    flex-basis: clamp($min-width-reason-column, 20%, 100%);
  }

  // Event Date.
  .ttahub-event-card__event-column__date {
    flex-basis: clamp($min-width-date-column, 12.5%, 100%);
  }
}