@use '../../../colors' as *;

$min-width-menu-column: 20px;

.ttahub-event-card {
  container: ttahub-event-card / inline-size;
}

// reset font sizes
.ttahub-event-card,
.ttahub-event-card .smart-hub-tooltip .smart-hub--ellipsis {
  font-size: 1.06rem;
}

.ttahub-event-card .smart-hub--menu-button .fa-ellipsis {
  font-size: 1.5rem;
}

.ttahub-event-card__event-column:not(:nth-last-child(2)) {
  margin-bottom: 16px;
}

.ttahub-event-card__event-column {
  max-width: 75%;
}

.ttahub-event-card__event-column__menu {
  position: absolute;
  right: 0;
  top: 0;
}

@container ttahub-event-card (min-width: 710px) {
  .ttahub-event-card__row {
    display: flex;
    flex-wrap: wrap;
  }

  .ttahub-event-card__event-column:not(:nth-child(n+1):nth-child(-n+3)) {
    margin-bottom: 0px;
  }


  .ttahub-event-card__event-column:not(:last-child) {
    margin-bottom: 16px;
  }

  .ttahub-event-card__event-column__title {
    width: 40%;
  }

  .ttahub-event-card__event-column__id,
  .ttahub-event-card__event-column__organizer,
  .ttahub-event-card__event-column__date {
    width: 29%;
  }

  // Event Context Menu.
  .ttahub-event-card__event-column__menu {
    flex-basis: clamp($min-width-menu-column, 2%, 2%);
  }

}

@container ttahub-event-card (min-width: 980px) {
  .ttahub-event-card__row {
    flex-wrap: nowrap;
  }

  .ttahub-event-card__event-column:not(:last-child) {
    margin-bottom: 0px;
  }

  .ttahub-event-card__event-column__menu {
    position: relative;
  } 
}