# Copy this file to `.env` and replace "1000:1000" with
# your user id/group id. `.env` is used by docker-compose
# making files created in the docker container owned by
# your host user (instead of root).
# Linux/OSX run `id -u` and `id -g`
CURRENT_USER=1000:1000
LOG_JSON_FORMAT=false
