# Test related
coverage
junit.xml
reports
yarn-error.log
docs/circleci/test_report.md

# Ignore /doc => /docs symbolic link created for adr-tools
/doc

# Build related
build/
frontend/build
node_modules

# Terraform
**/.terraform/*

# Secrets
.DS_Store
.env
**/*secrets.auto.tfvars
