# Test related
coverage
junit.xml
reports
yarn-error.log
docs/circleci/test_report.md
lcov.info
playwright
tests/**/report/*.html
tests/api/report
tests/e2e/report
tests/e2e/test-results
tests/api/test-results
test-results

# Ignore /doc => /docs symbolic link created for adr-tools
/doc

# Build related
build/
frontend/build
node_modules

# Terraform
**/.terraform.lock.hcl
**/.terraform/*

# new relic logs
newrelic_agent.log

# transient deploy configs
/terraform/transient
/deployment_config/transient_vars.yml

# Secrets
.DS_Store
.env
**/*secrets.auto.tfvars

# Temp files
.tmp

# DB files
.vscode/settings.json

# Python cache
__pycache__/

# Database backup stuff
bounce.sql
db.sql

# E2E Test report files
tests/e2e/html-report
tests/e2e/report.xml

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Claude/Anthropic config files
CLAUDE.md

