services:
  api-docs:
    image: redocly/redoc
    profiles:
      - full_stack
    ports:
      - "5003:80"
    volumes:
      - "./docs/openapi/:/usr/share/nginx/html/swagger/"
    environment:
      - SPEC_URL=swagger/index.yaml
  db:
    image: postgres:15.6
    container_name: postgres_docker
    env_file: .env
    profiles:
      - minimal_required_postgres
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    shm_size: 1g
  minio:
    image: minio/minio:RELEASE.2024-01-01T16-36-33Z
    profiles:
      - full_stack
    env_file: .env
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
  aws-cli:
    image: amazon/aws-cli
    profiles:
      - full_stack
    env_file: .env
    command: ["--endpoint-url", "http://minio:9000", "s3api", "create-bucket", "--bucket", "$S3_BUCKET"]
    depends_on:
      - minio
  clamav-rest:
    image: ajilaag/clamav-rest
    profiles:
      - full_stack
    ports:
      - "9443:9443"
    environment:
      - MAX_FILE_SIZE=30M
  redis:
    image: redis:6.2.6
    profiles:
      - minimal_required_redis
    command: ['redis-server', '--requirepass', '$REDIS_PASS']
    env_file: .env
    ports:
      - "6379:6379"
  redis-commander:
    image: rediscommander/redis-commander:latest
    profiles:
      - minimal_required_redis
    environment:
      - REDIS_HOSTS=local:redis:6379:0:${REDIS_PASS}
    ports:
      - "8081:8081"
    depends_on:
      - redis
  mailcatcher:
    image: schickling/mailcatcher
    profiles:
      - full_stack
    ports:
      - "1025:1025"
      - "1080:1080"
  testingonly:
    build:
      context: .
    profiles:
      - full_stack
    ports:
      - "9999:9999"
    depends_on:
      - db
    volumes:
      - ".:/app:rw"
    command: yarn start:testingonly
    environment:
      - POSTGRES_HOST=postgres_docker
      - NODE_ENV=development
  sftp:
    image: jmcombs/sftp:alpine
    profiles:
      - full_stack
    volumes:
        - ./test-sftp:/home/tta_ro/ProdTTAHome
        - ./test-sftp/sshd_config:/etc/ssh/sshd_config
    ports:
        - "${SFTP_EXPOSED_PORT:-22}:22"
    command: ${ITAMS_MD_USERNAME:-tta_ro}:${ITAMS_MD_PASSWORD:-password}:1001
volumes:
  dbdata: {}
  minio-data: {}
  yarn-cache: {}
  node_modules-backend: {}
  node_modules-frontend: {}
