version: "3.7"
services:
  backend:
    build:
      context: .
    command: yarn server:debug
    user: ${CURRENT_USER:-root}
    ports:
      - "8080:8080"
      - "9229:9229"
    depends_on:
      - db
      - redis
    environment:
      - POSTGRES_HOST=postgres_docker
      - REDIS_HOST=redis
      - SMTP_HOST=mailcatcher
      - FONTAWESOME_NPM_AUTH_TOKEN
      # On an M1 mac, puppeteer install fails with the message:
      # "The chromium binary is not available for arm64"
      #
      # The below instructs the container to skip downloading chromium and use the host's binary instead.
      # If you're not on an M1 mac, you can comment this out or just leave it, the undefined exports will have no effect.
      #
      # In ~/.zshrc (in my case) add:
      # export PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
      # export PUPPETEER_EXECUTABLE_PATH=`which chromium`
      - PUPPETEER_EXECUTABLE_PATH
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
    volumes:
      - ".:/app:rw"
    deploy:
      resources:
        limits:
          memory: 1024M
  frontend:
    build:
      context: .
    command: yarn start
    user: ${CURRENT_USER:-root}
    stdin_open: true
    ports:
      - "3000:3000"
    volumes:
      - "./frontend:/app:rw"
      - "./scripts:/app/scripts"
    environment:
      - BACKEND_PROXY=http://backend:8080
  worker:
    build:
      context: .
    command: yarn worker
    env_file: .env
    depends_on:
      - db
      - redis
    environment:
      - POSTGRES_HOST=postgres_docker
      - REDIS_HOST=redis
      - SMTP_HOST=mailcatcher
    volumes:
      - ".:/app:rw"
