version: "3.7"
services:
  api-docs:
    image: redocly/redoc
    ports:
      - "5003:80"
    volumes:
      - "./docs/openapi/:/usr/share/nginx/html/swagger/"
    environment:
      - SPEC_URL=swagger/index.yaml
  db:
    image: postgres:12.4
    container_name: postgres_docker
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    shm_size: 1g
  minio:
    image: minio/minio:RELEASE.2021-01-16T02-19-44Z
    env_file: .env
    ports:
      - "9000:9000"
    volumes:
      - miniodata:/data
    command: server /data
  aws-cli:
    image: amazon/aws-cli
    env_file: .env
    command: ["--endpoint-url", "http://minio:9000", "s3api", "create-bucket", "--bucket", "$S3_BUCKET"]
    depends_on:
      - minio
  clamav-rest:
    image: ajilaag/clamav-rest
    ports:
      - "9443:9443"
    environment:
      - MAX_FILE_SIZE=30M
  redis:
    image: redis:5.0.6-alpine
    command: ['redis-server', '--requirepass', '$REDIS_PASS']
    env_file: .env
    ports:
      - "6379:6379"
  mailcatcher:
    image: schickling/mailcatcher
    ports: 
      - "1025:1025"
      - "1080:1080"
  opensearch-node1:
    image: opensearchproject/opensearch:1.3.2
    container_name: opensearch-node1
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node1
      - "DISABLE_SECURITY_PLUGIN=true" # disables security plugin entirely in OpenSearch by setting plugins.security.disabled: true in opensearch.yml
      - "discovery.type=single-node" # disables bootstrap checks that are enabled when network.host is set to a non-loopback address
    volumes:
      - opensearch-data1:/usr/share/opensearch/data
    ports:
      - 9200:9200
      - 9600:9600 # required for Performance Analyzer
volumes:
  dbdata: {}
  miniodata: {}
  opensearch-data1: {}
