version: "3.7"
services:
  api-docs:
    image: redocly/redoc
    ports:
      - "5003:80"
    volumes:
      - "./docs/openapi/:/usr/share/nginx/html/swagger/"
    environment:
      - SPEC_URL=swagger/index.yaml
  db:
    image: postgres:15.6
    container_name: postgres_docker
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    shm_size: 1g
  minio:
    image: minio/minio:RELEASE.2024-01-01T16-36-33Z
    env_file: .env
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
  aws-cli:
    image: amazon/aws-cli
    env_file: .env
    command: ["--endpoint-url", "http://minio:9000", "s3api", "create-bucket", "--bucket", "$S3_BUCKET"]
    depends_on:
      - minio
  clamav-rest:
    image: ajilaag/clamav-rest
    ports:
      - "9443:9443"
    environment:
      - MAX_FILE_SIZE=30M
  similarity_api:
    build:
      context: ./similarity_api
    ports:
      - "9100:8080"
    env_file: .env
    depends_on:
      - db
    volumes:
      - "./similarity_api/src:/app:rw"
  redis:
    image: redis:5.0.6-alpine
    command: ['redis-server', '--requirepass', '$REDIS_PASS']
    env_file: .env
    ports:
      - "6379:6379"
  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - "1025:1025"
      - "1080:1080"
  testingonly:
    build:
      context: .
    ports:
      - "9999:9999"
    depends_on:
      - db
    volumes:
      - ".:/app:rw"
    command: yarn start:testingonly
    environment:
      - POSTGRES_HOST=postgres_docker
      - NODE_ENV=development
  sftp:
    image: jmcombs/sftp:alpine
    volumes:
        - ./test-sftp:/home/tta_ro/ProdTTAHome
        - ./test-sftp/sshd_config:/etc/ssh/sshd_config
    ports:
        - "${SFTP_EXPOSED_PORT:-22}:22"
    command: ${ITAMS_MD_USERNAME:-tta_ro}:${ITAMS_MD_PASSWORD:-password}:1001
volumes:
  dbdata: {}
  minio-data: {}
