version: "3.5"
services:
  api-docs:
    image: redocly/redoc
    ports:
      - "5000:80"
    volumes:
      - "./docs/openapi/:/usr/share/nginx/html/swagger/"
    environment:
      - SPEC_URL=swagger/index.yaml
  backend:
    build:
      context: .
    command: yarn server
    user: ${CURRENT_USER:-root}
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - POSTGRES_HOST=postgres_docker
    volumes:
      - ".:/app:rw"
  frontend:
    build:
      context: .
    command: yarn start
    user: ${CURRENT_USER:-root}
    stdin_open: true
    ports:
      - "3000:3000"
    volumes:
      - "./frontend:/app:rw"
      - "./scripts:/app/scripts"
    environment:
      - BACKEND_PROXY=http://backend:8080
  db:
    image: postgres:12.4
    container_name: postgres_docker
    env_file: .env
    ports:
      - "6543:5432"
