{
    "PDF": {
        "PDFVersion": 1.5,
        "Linearized": "No",
        "ModifyDate": "2022:02:03 13:02:33-05:00",
        "Creator": "RealObjects PDFreactor(R) 11.3.0 (13194), Serial No: 3945, Licensed for: K15t GmbH",
        "CreateDate": "2022:02:03 13:02:33-05:00",
        "Producer": "RealObjects PDFreactor(R) 11.3.0 (13194), Serial No: 3945, Licensed for: K15t GmbH",
        "Title": "SSaS tabletop",
        "Language": "en",
        "PageCount": 5
    },
    "checksums": {
        "md5": "1418c3603d14c2d22f6bf875d40c7738",
        "sha256": "4b8ef44104083a2a6f2111612fedce8443539eb645716fdbb3587f6716e1bafb"
    }
}
