.smart-hub--checkbox-select span{
    max-width: 220px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.smart-hub--checkbox-select-toggle-all:after {
    background: #eee;
    content: '';
    display: block;
    height: 1px;
    margin: 1em auto;
    width: 100%;
}

.smart-hub--checkbox-select label {
    margin-top: 0.75em;
}

.checkbox--end-group {
    border-bottom: 1px solid #eceef1;
    padding-bottom: 1em;
}