.smart-hub--goal-close-suspend-reason .usa-form-group fieldset textarea {
    width: 415px;
    resize: none;
}

.usa-modal__footer .usa-button-group__item .usa-button--unstyled {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    margin-left: 8px;
}


.smart-hub--goal-close-suspend-reason .popup-modal .usa-modal__main h2 {
    margin-bottom: 0px;
    font-family: "Merriweather", serif;
    font-size: 1.2rem;
}

.smart-hub--goal-close-suspend-reason form:first-child,
.smart-hub--goal-close-suspend-reason .usa-form .usa-form-group:first-child   {
    margin-top: 0px;
}
.smart-hub--goal-close-suspend-reason .usa-form .usa-form-group:nth-child(2) label   {
    font-weight: 400;
}

.smart-hub--goal-close-suspend-reason .popup-modal .usa-modal__main .smart-hub--form-required {
    color: #B50909;
}