.smart-hub--date-picker-input {
  /*
    We want the open button on the right of the date input and
    want the next focusable item after the button to be the calendar.
    row-reverse to deal with tab ordering in the case where
    the open button is clicked and then the user changes focus
    with the tab key. Since the open button has tabindex of -1
    we won't run into an issue of focus moving "backwards"
  */
  /* flex-direction: row-reverse; */
  width: fit-content;
}

.DateInput {
  width: fit-content;
}

.usa-hint {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}