.usa-button.usa-button__drawer-trigger {
    margin-top: 0;
    margin-left: 0;
    }

.smart-hub--form__activity-report-form .usa-button--custom-goal-guidance-margin {
    margin-top: 0;
    margin-left: 0;
}