@import '../colors.scss';

.survey-feedback__trigger-button {
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.survey-feedback__modal {
  .usa-modal__content {
    max-width: 38rem;
  }

  .usa-radio {
    margin-top: 0.75rem;
    margin-bottom: 0;
  }

  textarea {
    min-height: 5rem;
  }
}
