.smart-hub--file-tag {
  text-transform: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 200px;
  width: fit-content;
  border-radius: 5px;
}

.smart-hub--file-tag-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 5px;
}

.usa-form .smart-hub--file-tag-button {
  margin: 0;
}

.fa-stack {
  width: 1em;
}
