.ttahub-filter-menu {
    position: relative;
}
.ttahub-filter-menu-filters {
    background: white;
    top: 110%;
    left: 0;
    position: absolute;
    z-index: 1
}

.ttahub-filter-menu-item {
    min-width: 600px;
}

.ttahub-filter-menu-item [name="topic"],
.ttahub-filter-menu-item [name="condition"],
.ttahub-filter-menu-item .smart-hub--button-select-toggle-btn.usa-select.smart-hub--checkbox-select,
.ttahub-filter-menu-item .smart-hub--button-select-toggle-btn.usa-select,
.ttahub-filter-menu-single-date-picker,
.ttahub-dummy-select {
    max-width: none;
    width: 200px;
}

.ttahub-filter-menu .SingleDatePicker .DateInput__small {
    min-width: 160px;
}
.ttahub-filter-menu .SingleDatePicker .DateInput_input__small {
    padding: 0.5rem;
}

.ttahub-filter-menu-filters .usa-list--unstyled li {
    margin-bottom: 0.25rem;
}