.smart-hub--minw-1205 {
  min-width: 200px;
}

.smart-hub--filter-item {
  min-width: 560px;
}

.smart-hub--filter-input {
  border-radius: none;
  border-color: black;
  background-color: white;
  border-width: 1px;
  vertical-align: bottom;
  width: 125px;
  height: 22px;
}

.usa-button--unstyled.smart-hub--filter-date-picker-button {
  padding-top: 2px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 4px;
  vertical-align: bottom;
}

.smart-hub--filter-menu-button:hover {
  color: black;
  text-decoration: none;
}

.smart-hub--filter-menu-button__selected {
  background-color: #e2eff7;
}

.smart-hub--filter-menu-button__open:hover {
  background-color: #eceef1;
}

.smart-hub--filter-menu-button__selected:hover {
  background-color: #e2eff7;
}

.smart-hub--filter-input-box {
  width: 180px;
}
.smart-hub--filter .DateRangePicker {
  width: 180px;
  vertical-align: bottom;
}

.smart-hub--filter .SingleDatePicker {
  width: 180px;
  height: 22px;
  vertical-align: bottom;
}

.smart-hub--filter .DateRangePicker .DateInput {
  width: 85px;
}

.smart-hub--filter .DateRangePicker .DayPickerNavigation_button {
  background-color: aliceblue;
}

.smart-hub--filter .DateRangePicker .DayPickerNavigation_button svg  {
fill: blue;   
}

.smart-hub--filter .SingleDatePicker .DateInput {
  width: 178px;
}

.smart-hub--filter .SingleDatePickerInput {
  height: 22px;
  border-color: black;
}

.smart-hub--filter .SingleDatePickerInput__withBorder {
  border-width: thin;
}

.smart-hub--filter .DateInput_input {
  max-height: 20px;
}

.smart-hub--filter .DateRangePickerInput {
  width: 100%;
  border-color: black;
  border-radius: 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .smart-hub--filter .SingleDatePickerInput {
    height: 22px;
  }
  .smart-hub--filter .DateInput_input {
    height: 22px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 2px;
    padding-left: 4px;
  }
}

.smart-hub--filter-input-role-select {
    width: 200px;  
}