.usa-table.usa-table--borderless.grant-checkbox-select-table {
  margin-top: 8px;
  margin-bottom: 24px;
}

.usa-table.usa-table--borderless.grant-checkbox-select-table tr {
  border: 0;
}

.usa-table.usa-table--borderless.grant-checkbox-select-table td {
  border: 0;
  margin-bottom: 12px;
  padding-left: 0;
}
