@use '../colors.scss' as *;

.unstyled-btn {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0;
}

div.user-menu-dropdown {
  /** the first child with class .usa-sidenav__item should have no border-top */
  & .usa-sidenav__item:first-child {
    border-top: 0;
  }
}

ul.user-menu-nav {
  list-style: none;
  padding: 0;
  min-width: 250px;

  & > li > hr {
    border-top: 1px solid $base-lighter;
    border-bottom: 0px;
  }

  & > li {
    border-left: 4px solid transparent;
    padding: 0.75rem 1rem;
  }

  & > li:has(.usa-current)  {
    border-left: 4px solid $ttahub-medium-blue;
    text-decoration: none;
  }

  & > li:hover {
    background-color: $gray-two;
  }

  & > li > a.usa-nav__link { 
    text-decoration: underline;
    cursor: pointer;    
    color: $ttahub-medium-blue;
  }
}


.header-avatar-button__with-unread::after {
  background-color: $success;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 1rem;
}