@use '../colors.scss' as *;

.smart-hub--menu-button {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: $text-ink;
}

.smart-hub--menu-button:hover {
  text-decoration: none;
  color: $text-ink;
}

.smart-hub--menu {
  position: absolute;
  z-index: 1;
}

.smart-hub--menu__left_and_up {
  transform: translateY(-120%) translateX(-90%); 
}

.smart-hub--menu__left {
  transform: translateX(-90%); 
}

.smart-hub--menu__up {
  transform: translateY(-120%); 
}
