@use '../colors.scss' as *;

.smart-hub--menu-button {
  display: block;
  text-decoration: none;
  width: max-content;
  height: 100%;
  color: $text-ink;
}

.smart-hub--menu-button:hover {
  text-decoration: none;
  color: $text-ink;
}

