#popup-modal h2 {
    font-family: 'Source Sans Pro Web', 'Helvetica Neue', Helvetica, 'Roboto, Arial', sans-serif;
}

#popup-modal button {
    margin-left: 0px;
    margin-right: 14px;
    padding: 9px 38px 9px 38px;
    font-size: medium;
    font-weight: 600;
}

.popup-modal:not(.show-close-x) .usa-modal__close {
    display: none;
}

.popup-modal:not(.show-ok-button) .usa-button--secondary {
    display: none;
}