.usa-modal h2 {
    font-family: 'Source Sans Pro Web', 'Helvetica Neue', Helvetica, 'Roboto, Arial', sans-serif;
}

.usa-modal .usa-button--secondary {
    margin-left: 8px;
}

.usa-modal .usa-modal__main {
    margin: 0px;
}

.usa-modal button {
    margin-left: 0px;
    margin-right: 14px;
    padding: 9px 38px 9px 38px;
    font-size: medium;
    font-weight: 600;
}

.usa-modal:not(.show-close-x) .usa-modal__close {
    display: none;
}