.smart-hub--select-icon {
  background-image: url("../images/arrow-both.svg");
  background-size: 0.5rem;
  padding-right: 2rem;
  background-position: right 0.4rem center;
  background-repeat: no-repeat;
  background-color: white;
  height: 22px;
}
