.smart-hub--no-results-found-container {
    /*
    height: 20rem;
    width: 100%;
    */
}

.smart-hub--no-results-found {
    flex-direction: column;
    /*
    align-items: center;
    flex-flow: column;
    height: 100%;
    width: 100%;
    position: relative;
    top: 20%;
    */
}