.ttahub-read-only-content-section .public-DraftStyleDefault-block {
  margin: 0;
}

/* Remove extra spacing from parsed HTML content */
.ttahub-read-only-content-section--heading--section-row-data .parsed-html-content {
  margin: 0;
}

/* Remove margins from child elements to match padding of other fields */
.ttahub-read-only-content-section--heading--section-row-data .parsed-html-content > * {
  margin: 0;
}

/* "Special handling" for last-of elements within read-only-section-containers */
.ttahub-activity-report-view .ttahub-read-only-content-section-container {

  /* Increases the bottom margin for the last content-section */
  & .ttahub-read-only-content-section:last-child {
    padding-block-end: 2rem;
  }

  /* Zeroes out the bottom margin on the last data row of the last heading-section */
  & .ttahub-read-only-content-section--heading--section-row:last-child .ttahub-read-only-content-section--heading--section-row-data:last-child {
    margin-block-end: 0;
  }
}

.ttahub-read-only-content-section--heading--section-row {
  line-height: 1.4; /* otherwise too squishy */
}

/* these next two style blocks will only apply on desktop */
.ttahub-read-only-content-section--heading--section-row-data {
  flex-basis: max(300px, 75%);
}

.ttahub-read-only-content-section--heading--section-row-title {
  flex-basis: min(220px, 25%);
}

/* a reset to squeeze those ul's in */
.ttahub-read-only-content-section--heading--section-row > p > ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

@media screen {
  .ttahub-read-only-content-section__striped {
    /* from ../colors.scss */
    background-color: var(--gray-two);
  }
}

/* print styles */

@media print {
  .ttahub-read-only-content-section {

    &,
    & h3 {
      padding: 0 !important;
      margin-block-end: var(1rem) !important;
    }
  }
}


