@media (min-width: 80rem) { 
    .usa-site-alert--ttahub .usa-alert__body {
        align-items: center;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: 0.5rem;    
    }
}

.usa-site-alert--ttahub .usa-alert__heading {
   font-size: 1.06rem;
   margin: 0;
}

.usa-site-alert--ttahub .public-DraftStyleDefault-block {
    margin: 0;
}