.ttahub-drawer--objective-support-type-guidance :empty,
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(42), 
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(43) > div:nth-child(1) > span:nth-child(2) > a:nth-child(1)
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(45),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(46) > div:nth-child(1) > span:nth-child(2) > a:nth-child(1),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(43) > div:nth-child(1) > span:nth-child(2) > a:nth-child(1), 
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(45),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(48),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(49) > div:nth-child(1) > span:nth-child(2) > a:nth-child(1),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(51),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(52) > div:nth-child(1) > span:nth-child(2) > a:nth-child(1),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(54),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(55) > div:nth-child(1) > span:nth-child(2) > a:nth-child(1),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(57),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(58) > div:nth-child(1) > span:nth-child(2) > a:nth-child(1),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(60),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(61) > div:nth-child(1) > span:nth-child(2) > a:nth-child(1), 
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(64) > div:nth-child(1) > span:nth-child(3) > span:nth-child(1),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(4),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(64) > div:nth-child(1) {
    display: none;
}

/* creates left margin for bullet points */
.ttahub-drawer--objective-support-type-guidance .public-DraftStyleDefault-ul + div > div > span > span {
   margin-left: 2em;
}

/* creates bullet points */
.ttahub-drawer--objective-support-type-guidance .public-DraftStyleDefault-ul + div > div > span > span:before  {
    content: '•';
    margin-right: 1em;
}

/* hides centered header and misaligned bullet points */
.ttahub-drawer--objective-support-type-guidance .public-DraftStyleDefault-ul {
    display: none;
}

/* creates left margin for bullet points */
.ttahub-drawer--objective-support-type-guidance .public-DraftStyleDefault-ul + div > div > span > span {
   margin-left: 2em;
}

/* creates bullet points */
.ttahub-drawer--objective-support-type-guidance .public-DraftStyleDefault-ul + div > div > span > span:before  {
    content: '•';
    margin-right: 1em;
}

span:has(a[href="https://acf-ohs.atlassian.net/wiki/spaces/OHSTTA/pages/184516720/OHS+guidance+on+TTA+support+types"]),
span:has(a[href="https://acf-ohs.atlassian.net/wiki/pages/diffpagesbyversion.action?pageId=184516720&revisedVersion=8&originalVersion=7"]) {
    display: none;
}
