/* hides centered header and misaligned bullet points */
.ttahub-drawer--objective-support-type-guidance div.rdw-center-aligned-block:nth-child(2),
.ttahub-drawer--objective-support-type-guidance div.rdw-center-aligned-block:nth-child(1),
.ttahub-drawer--objective-support-type-guidance .public-DraftStyleDefault-ul {
    display: none;
}

/* creates left margin for bullet points */
.ttahub-drawer--objective-support-type-guidance .public-DraftStyleDefault-ul + div > div > span > span {
   margin-left: 2em;
}

/* creates bullet points */
.ttahub-drawer--objective-support-type-guidance .public-DraftStyleDefault-ul + div > div > span > span:before  {
    content: '•';
    margin-right: 1em;
}

/* creates margin between bold headers */
.ttahub-drawer--objective-support-type-guidance .rdw-editor-main > div > div > div > div > div:nth-child(12),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-main > div > div > div > div > div:nth-child(15),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-main > div > div > div > div > div:nth-child(22) {
    margin-top: 1rem;
}

/* creates margin between text and bullets */
.ttahub-drawer--objective-support-type-guidance .rdw-editor-main > div > div > div > div > div:nth-child(4),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-main > div > div > div > div > div:nth-child(13),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-main > div > div > div > div > div:nth-child(16),
.ttahub-drawer--objective-support-type-guidance .rdw-editor-main > div > div > div > div > div:nth-child(23) {
    margin-bottom: 10px;
}

.usa-button.usa-button__support-type-drawer-trigger {
    margin-top: 0;
}