@use "../colors.scss" as *;

.ttahub-tag {
  background-color: $base-lightest;
  border: 1px solid $base-medium;
  color: $text-ink;
  display: inline-flex;
  font-weight: normal;
  line-height: 24px;
  padding: 0 8px;
  text-align: center;
  width: fit-content;
}

.ttahub-tag-underline {
  text-decoration: underline;
}
