.smart-hub--tooltip-truncated.smart-hub--tooltip-truncated--with-collection {
    border-bottom: 0;
}

.smart-hub--tooltip-truncated--with-collection:first-child:before {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='1' stroke-dasharray='6' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
    content: "";
    height: 200%;
    position: absolute;  
    left: -10px;
    right: 0;
    bottom: 0px;
    width: 300%;
  }