@use '../colors.scss' as *;

.smart-hub-widget-container .smart-hub-widget-container-header-border {
   border-bottom: 1px solid $base-lighter;
}

.smart-hub-widget-container .smart-hub-widget-container-header p {
  max-width: 700px;
 }

.smart-hub-widget-container .smart-hub-widget-container-footer {
    border-top: 1px solid $base-lighter;
 }