
body {
    padding: 0;
    margin: 0;
    overflow: hidden; 
    font-family: SourceSansPro, sans-serif;
}

header {
    height: 7vh;
    min-height: 72px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #21272d;
}

header img {
    height: 55px;
    margin-left: 24px;
    margin-right: 16px;
}

.container {
    display: flex;
}

.left-div {
    width: 10%;
    min-width: 100px;
    height: 93vh;
    background-color: #264a64;
    margin: 0;
}

main {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
    border: 1px solid #c5c5c5;
    padding: 10px;
}

main h1 {
    font-size: 30px;
    font-family: Merriweather, serif;
    line-height: 39px;
    margin-bottom: 0;
}

main img {
    width: 110px;
}