.ttahub-goal-form-objective-summary .public-DraftStyleDefault-block {
    margin-top: 0;
    margin-bottom: 0;
}

.ttahub-goal-form-objective-summary .usa-list li:last-child {
    margin-bottom: 1em;
}