.ttahub-goal-form-goal-summary {
    background-color: #f8f8f8;
}

.ttahub-goal-form-goal-summary .public-DraftStyleDefault-block {
    margin-top: 0;
}

.ttahub-goal-form-goal-summary .usa-button.smart-hub--button__no-margin {
    margin: 0;
}