.ttahub-monitoring-citation-card-checkbox {
  display: none;
}

.ttahub-monitoring-citation-card-checkbox--mobile {
  align-self: flex-start;
}

@media (min-width: 1445px) {
  .ttahub-monitoring-citation-card-checkbox--mobile {
    display: none;
  }

  .ttahub-monitoring-citation-card-checkbox {
    display: block;
  }

  .regional-dashboard-citation-card-internals {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap: 1rem;
    height: min-content;
  }

  .ttahub-monitoring-citation-card.ttahub-regional-dashboard-citation-card
    .ttahub-data-card-description-list:not(.ttahub-data-card-description-list__vertical) {
    grid-template-columns: repeat(8, 1fr);
  }
}
