style
  include ../email.css
p Hello,
p You've been added as a collaborator on Activity Report #{displayId}.
a(href=reportPath) Access this report in the TTA Hub.
p Best wishes,
  br
  | The TTA Hub team
