@media (min-width: 64em) {
  .collab-reports-table--widget-container .smart-hub--table-widget-container {
    display: grid;
  }

  .collab-reports-table--widget-container .smart-hub--pagination-card:nth-child(3) {
    margin-bottom: 1.5em;
    justify-self: end;
  }
}
