bcrypt
cfenv
Faker
fastapi
gunicorn
spacy==3.5.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
Jinja2
numpy
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-psycopg2
passlib
passlib
psycopg2-binary
python-dotenv
python-jose
python-multipart
scikit-learn
sympy
uvicorn
itsdangerous