cfenv
Faker
Flask
Flask-WTF
gunicorn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-psycopg2
psycopg2
scikit-learn
spaCy
uvicorn
fastapi
python-jose
bcrypt
passlib
Jinja2
passlib
numpy
fastapi
sympy
python-dotenv
httpx