version: 2.1
orbs:
  node: circleci/node@4.0.0
jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run: yarn deps
      - run:
          command: yarn run test
          name: Run YARN tests
