case type
    when 'collaboratorDigest'
        = `TTA Hub digest: added as collaborator`
    when 'changesRequestedDigest'
        = `TTA Hub digest: changes requested`
    when 'approverAssignedDigest'
        = `TTA Hub digest: reports for review`
    when 'reportApprovedDigest'
        = `TTA Hub digest: approved reports`
    default
        = `TTA Hub digest: ${type}`
    