.landing {
  font-family: 'Merriweather', serif;
}

.pagination {
  float: right;
  white-space: nowrap;
  margin-top: -9px;
  margin-bottom: 0px;
  padding-left: 20px;
}

.pagination li {
  display: inline-block;
}

.pagination li a {
color: #3C4146;
text-align: center;
text-decoration: none;
margin: 9px;
}

.pagination li.active {
  background-image: url(../../images/blue-circle.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px 0px 10px 0px;
}

.landing .disabled {
  display: none;
}

.pagination li.active a {
  font-weight: bold;
  color: white;
  outline: none;
}

div.smart-hub--total-count {
  background-color: #ebe6e6;
  align-self: center;
  display: inline;
}

.smart-hub--link-next {
  text-decoration-line: underline !important;
  color: #0166AB !important;
  margin-left: 12px;
}

.smart-hub--link-prev {
  text-decoration-line: underline !important;
  color: #0166AB !important;
  padding-left: 20px;
  margin-right: 12px;
}

.smart-hub--link-pagination {
  text-decoration: none;
  padding: 2px;
}

.smart-hub--table-controls {
  position: relative;
  float: left;
  margin-left: 275px;
  margin-bottom: -90px;
  margin-top: 24px;
}

.smart-hub--alerts-table-controls {
  position: relative;
  float: left;
  margin-left: 275px;
  margin-bottom: -90px;
  margin-top: 24px;
}

.smart-hub-bg-vivid {
  background-color: #0166AB;
}

.landing .smart-hub--table-nav {
  position: relative;
  float: right;
  font-size: 16px;
  font-weight: 500;
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  margin-right: 20px;
  margin-top: 27px;
  margin-bottom: -90px;
}

#alertsTotalCount {
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  margin-top: 27px;
  margin-left: 900px;
  display: none;
}

h1.landing {
  font-size: 40px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  white-space: nowrap;
  margin-right: 30px;
}

.landing .usa-table {
  line-height: 2.5;
}

.landing .usa-table caption {
  font-size: 21px;
  font-weight: 900;
  padding: 8px 0px 17px 20px;
  margin-bottom: -0.25rem;
  margin-top: 1px;
}

.landing .usa-table thead th {
  white-space: nowrap;
  background-color: white;
  border-top: solid 1.5px;
  border-color: #ECEEF1;
  border-bottom: none;
  cursor: pointer;
  padding-right: 0px;
}

.landing .usa-table td {
  font-size: 15px;
  white-space: nowrap;
  background-color: transparent;
  border-style: none;
}

.landing .usa-table th {
  font-size: 15px;
  white-space: nowrap;
  background-color: transparent;
  border-style: none;
  color: black;
}

.smart-hub--blue a {
  color: #3C72AE;
}

.landing .usa-alert .usa-alert--error {
  margin-bottom: 20px;
  background-color: #148439;
}

.landing .smart-hub--context-menu-button {
  padding: 2px;
}

.usa-table tr:nth-child(odd) {
  background-color:#F8F8F8;
}

.smart-hub--table-collection {
  background: #ECEEF1;
  color: #21272D;
  text-align: center;
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
}

.smart-hub--status-draft {
  background: #E2EFF7;
  color: #0166AB;
}

.smart-hub--status-submitted {
  background: #eceef1;
  color: #475260;
}

.smart-hub--status-approved {
  background: #f0fcf4;
  color: #148439;
}

.smart-hub--status-needs_action {
  background: #f9e0e4;
  color: #d42240;
}

.smart-hub--status- {
  display: none;
}

.smart-hub--status-null {
  display: none;
}

.smart-hub--table-tag-status {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.smart-hub--ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 173.5px;
  vertical-align: middle;
}

.usa-button.smart-hub--button__no-margin {
  margin-left: 0px;
}

.smart-hub--plus {
  font-size: 40px;
}

.smart-hub--new-report {
  margin-left: 10px;
  margin-top: 7px;
  float: right;
}

.smart-hub--new-report-btn {
  line-height: 0.5;
  min-width: 220px;
  background-color: #0166ab;
  max-height: 44px;
  border-radius: 5px;
  padding: 0.7rem 1.25rem 0.75rem 1.25rem;

}

.smart-hub--create-new-report {
  padding-top: 30px;
}
thead th > .sortable{
  position: relative;
}
thead th > .sortable::after{
  content: "";
  background-image: url(../../images/sort_both.png);
  background-repeat:no-repeat;
  background-position: center bottom;
  display: inline-block;
  position: absolute;
  right: -15px;
  top: -2px;
  width: 10px;
  height: 20px;
}

thead th > .sortable.asc::after {
  background-image: url(../../images/sort_asc.png);
}

thead th > .sortable.desc::after {
  background-image: url(../../images/sort_desc.png);
}

a.asc {
  outline: none !important;
}

a.desc {
  outline: none !important;
}

.landing .usa-alert {
  padding: 20px;
}

.inline-size {
  inline-size: fit-content;
}

.simplebar-scrollbar:before {
  background: #c5c5c5;
}

#caughtUp {
  padding: 100px 320px;
  white-space: nowrap;
}

#caughtUp h2 {
  white-space: nowrap;
  padding-left: 50px;
}

#beginNew {
  padding-bottom: 15px;
}

.landing .smart-hub--table-controls__button {
  color: black;
  text-decoration: none;
  margin-right: 12px;
  padding: 6px 12px;
  margin-left: 0px;
  border-radius: 3px;
  font-weight: normal;
  box-shadow: inset 0 0 0 1px black;
}

.smart-hub--reports-button {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: black;
}

.smart-hub--menu-button__open {
  background-color: #eceef1;
}

.fba-modal .fba-modal-dialog {
  margin-top: 120px;
}
