.smart-hub-activity-summary .smart-hub-activity-summary-group-info {
    margin-top: 0;
 }

 .smart-hub-activity-summary .smart-hub-activity-summary-use-group .smart-hub--report-checkbox {
    margin-top: 0px;
 }

.ttahub-drawer--objective-topics-guidance .ttahub-feed-article .ttahub-feed-article-content p {
    margin: 0px;
}