style
  include ../email.css
p Hello,
p Activity Report #{displayId}, on which you are a collaborator, has been submitted for approval.
a(href=reportPath) Access this report in the TTA Hub.
p Best wishes,
  br
  | The TTA Hub team
