style
  include ../email.css
p Hello,
p An Activity Report associated with one of your recipients has been approved.
ul
  li
    a(href=reportPath)= displayId
p Select the link to view this report in the TTA Hub.
p Best wishes,
  br
  | The TTA Hub team
