@use '../../colors.scss' as *;

/**
this hides the initial "author inforation" blocks"
**/
.ttahub-feed-article__whats-new div[data-contents="true"] > [data-block="true"]:nth-child(1),
.ttahub-feed-article__whats-new div[data-contents="true"] > [data-block="true"]:nth-child(2),
.ttahub-feed-article__whats-new div[data-contents="true"] > [data-block="true"]:nth-child(3),
.ttahub-feed-article__whats-new div[data-contents="true"] > [data-block="true"]:last-child,
.ttahub-feed-article__whats-new div[data-contents="true"] > [data-block="true"]:empty {
    display: none;
}

.ttahub-feed-article__whats-new {
    border-bottom: 1px solid $base-lighter;
}

// fix the margins and spacing of the read only editor 
.ttahub-feed-article__whats-new .public-DraftStyleDefault-block {
    line-height: 1.5;
    margin: 0;
    white-space: normal;
}

// hide the big old link icon that pops up 
.ttahub-feed-article__whats-new .rdw-link-decorator-icon {
    display: none;
}

.ttahub-feed-article__whats-new .public-DraftStyleDefault-block a:after {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTQuMDcyIDBIOC45MTVhLjkyNS45MjUgMCAwIDAgMCAxLjg0OWgyLjkyNUw2Ljk2MSA2LjcyN2EuOTE4LjkxOCAwIDAgMC0uMjcuNjU0YzAgLjI0Ny4wOTUuNDguMjcuNjU0YS45MTguOTE4IDAgMCAwIC42NTQuMjcuOTE4LjkxOCAwIDAgMCAuNjUzLS4yN2w0Ljg4LTQuODh2Mi45MjZhLjkyNS45MjUgMCAwIDAgMS44NDggMFYuOTI0QS45MjUuOTI1IDAgMCAwIDE0LjA3MiAweiIvPjxwYXRoIGQ9Ik0xMC42MjMgMTMuNDExSDEuNTg1VjQuMzcyaDYuNzk4bDEuNTg0LTEuNTg0SC43OTJBLjc5Mi43OTIgMCAwIDAgMCAzLjU4djEwLjYyNGMwIC40MzcuMzU1Ljc5Mi43OTIuNzkyaDEwLjYyNGEuNzkyLjc5MiAwIDAgMCAuNzkyLS43OTJWNS4wMjlsLTEuNTg1IDEuNTg0djYuNzk4eiIvPjwvZz48L3N2Zz4=) no-repeat center;
    content: '';    
    display: inline-block;
    height: 15px;
    margin: 0 2px;
    width: 15px;
}

.ttahub-feed-article__whats-new .public-DraftStyleDefault-block a:hover:after {
    opacity: 0.75;
}

// this adds the little green circle to the left of the "new" notification
.ttahub-feed-article__whats-new--unread .ttahub-feed-article__whats-new-content:before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $success;
    position: absolute;
    top: 5px;
    left: 0;
}
