.ttahub-data-card-description-list {
  flex-wrap: wrap;
}

@media (min-width: 1560px) {
  .ttahub-data-card-description-list {
    flex-wrap: no-wrap;
  }
  .ttahub-data-card-description-list > div {
    min-width: var(--data-card-column-width);
  }
}

@media (min-width: 64em) {
  .ttahub-data-card-description-list.ttahub-data-card-description-list__vertical
    > div {
    display: flex;
    flex-direction: row;
  }

  .ttahub-data-card-description-list.ttahub-data-card-description-list__vertical
    > div
    dt {
    flex: 1;
    min-width: var(--data-card-column-width);
  }
}
