@use '../../colors' as *;

$min-width-text-column: 428px;
$min-width-topics-column: 220px;
$min-width-date-column: 140px;
$max-width-date-column: 50%;

// reset font sizes
.ttahub-goal-card,
.ttahub-goal-card .smart-hub-tooltip .smart-hub--ellipsis {
  font-size: 1.06rem;
}

.ttahub-goal-card .smart-hub--menu-button .fa-ellipsis {
  font-size: 1.5rem;
}

.ttahub-goal-card__goal-column__goal-text {
  flex-basis: clamp($min-width-text-column, 100%, 100%);
}

.ttahub-goal-card__goal-column:not(:last-child) {
  margin-bottom: 16px;
}

.ttahub-goal-card__goal-topics-tool-tip {
  display :none;
}

.ttahub-goal-card__goal-topics-csv {
  display: block;
}

@media(min-width: 627px) {
  .ttahub-goal-card__goal-column:not(:nth-child(n+3):nth-child(-n+5)) {
    margin-bottom: 16px;
  }

  .ttahub-goal-card__goal-topics-csv {
    display: block;
  }

  .ttahub-goal-card__goal-topics-tool-tip {
    display: none;
  }
}

.ttahub-goal-card__goal-column__goal-topics {
  flex-basis: clamp($min-width-topics-column, 100%, 100%);

}

.ttahub-goal-card__goal-column__created-on,
.ttahub-goal-card__goal-column__last-tta,
.ttahub-goal-card__goal-column__last-reviewed {
  flex-basis: clamp(33%, 33%, 50%);
}

@media(min-width: 1215px) {

  .ttahub-goal-card__goal-column:not(:nth-child(n+3):nth-child(-n+5)) {
    margin-bottom: 16px;
  }

  .ttahub-goal-card__goal-topics-tool-tip {
    display: none;
  }

  .ttahub-goal-card__goal-topics-csv {
    display: block;
  }

  .ttahub-goal-card__goal-column__goal-text {
    flex-basis: clamp($min-width-text-column, 60%, 100%);
  }

  .ttahub-goal-card__goal-column__goal-topics {
    flex-basis: clamp(200px, 40%, 100%);
  }
}

@media(min-width: 1475px) {

  .ttahub-goal-card__goal-column__goal-topics p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 220px;
  }

  .ttahub-goal-card__goal-topics-csv {
    display: none;
  }

  .ttahub-goal-card__goal-topics-tool-tip {
    display: block;
  }

  .ttahub-goal-card__goal-column__goal-text {
    flex-basis: clamp($min-width-text-column, 40%, 100%);
  }

  .ttahub-goal-card__goal-column__goal-topics {
    flex-basis: clamp($min-width-topics-column, 20%, $min-width-topics-column);
  }

  .ttahub-goal-card__goal-column__created-on,
  .ttahub-goal-card__goal-column__last-tta,
  .ttahub-goal-card__goal-column__last-reviewed {
    flex-basis: clamp($min-width-date-column, 10%, $max-width-date-column);
  }
}