style
  include ../email.css
p Hello,
p Activity Report #{displayId} has been submitted for your approval. 
a(href=reportPath) Approve this report in the TTA Hub. 
p Best wishes,
  br
  | The TTA Hub team
