
.ttahub--indicator-box {
  width: 43px;
  height: 16px;
  border-radius: 4px;
}

.ttahub--indicator-box-filled {
  background-color: #336A90;
}

.ttahub--indicator-box-empty {
  background-color: #DFE1E2;
}