.ttahub-recipient-spotlight-content {
    max-height: 230px;
}

.ttahub-recipient-spotlight-content-cell-good-indicator {
 border: 1px dashed #b0C9C9C9;
 border-radius: 4px;
}

.ttahub-recipient-spotlight-content-cell-bad-indicator {
 border: 1px solid #DFE1E2;
 border-radius: 4px;
}