@use '../../../colors.scss' as *;

.ttahub-recipient-spotlight-content {
    max-height: 230px;
}

.ttahub-recipient-spotlight-content-cell-good-indicator {
 border: 1px dashed $base-light;
 border-radius: 4px;
}

.ttahub-recipient-spotlight-content-cell-bad-indicator {
 border: 1px solid $base-lighter;
 border-radius: 4px;
}

.ttahub-recipient-spotlight-content .smart-hub--no-results-found {
    padding: 24px
}