.ttahub--recipient-summary p strong{
    font-size: 14px;
}

.ttahub--recipient-summary h4 {
    font-family: 'Merriweather', serif;
}

.ttahub--recipient-summary {
    min-height: 350px;
    max-height: 350px;
}



