@use '../../../colors.scss' as *;

.ttahub-recipient-record--tabs_nav {
    margin-left: -1rem;
}

.ttahub-recipient-record--tabs_link, .ttahub-recipient-record--tabs_link:visited {
    color: $smart-hub-text-ink;
    text-decoration: none;
}

.ttahub-recipient-record--tabs_tab {
    min-width: 6rem;
    text-align:center;
}

.ttahub-recipient-record--tabs_link--active{
    border-bottom: 4px solid $smart-hub-blue-primary;
    font-weight: bold;
}

.ttahub-recipient-record--tabs_back-to-search, .ttahub-recipient-record--tabs_back-to-search :visited {
    color: $smart-hub-blue-primary;
}