style
  include ../email.css
p Hello,
p A session has been completed for Training Report #{displayId}.
p Access this report in the TTA Hub:
ul
  li 
    a(href=reportPath)= displayId 
p Best Regards,
  br
  | Your TTA Hub team
