style
  include ../email.css
p Hello,
p You've been added as a regional point of contact on Training Report #{displayId}.
p Access this report in the TTA Hub:
ul
  li 
    a(href=reportPath)= displayId 
p Best Regards,
  br
  | Your TTA Hub team
