.ttahub-recipient-record--heading {
    font-size: 40px;
    font-family: "Merriweather", serif;
    font-weight: 700;
}

.ttahub-recipient-record--card-header {
    border-bottom: 1px solid #eceef1;
    font-size: 1.17em;
}

.ttahub-recipient-record-table-container {
    overflow-y: scroll;
    max-height: 440px;
}

.ttahub-recipient-record-table-container .ttahub-recipient-record--table  th {
    position: sticky;
    top: 0;
    background-color: white;
  }

.usa-table.ttahub-recipient-record--table td,
.usa-table.ttahub-recipient-record--table th {
    border: 0;
}
