@use '../../colors.scss' as *;

.ttahub-recipient-record--card-header {
    border-bottom: 1px solid $base-lighter;
}

.ttahub-recipient-record--card-header h2 {
    font-size: 1.17em;
}

.ttahub-recipient-record-table-container {
    overflow-y: scroll;
    max-height: 440px;
}