.ttahub-recipient-record--card-header {
    border-bottom: 1px solid #eceef1;
    font-size: 1.17em;
}

.ttahub-recipient-record-table-container {
    min-height: 220px;
    max-height: 220px;
    overflow-y: scroll;
}

.ttahub-recipient-record-table-container .ttahub-recipient-record--table  th {
    position: sticky;
    top: 0;
    background-color: white;
  }

.usa-table.ttahub-recipient-record--table td,
.usa-table.ttahub-recipient-record--table th {
    border: 0;
}

