@media( min-width: 1200px ) {
    .ttahub-activity-report-view {
        max-width: 900px;
    }

    .ttahub-activity-report-view hr { 
        max-width: 600px;
    }
}

.ttahub-activity-report-view h1 {
    white-space: initial;
}

.ttahub-activity-report-view hr{
    margin: auto 0;    
}
