.usa-table-container,
.usa-checkbox__label {
  margin-top: 0px;
}

.goals-table .usa-table {
  line-height: 2.5;
}

.goals-table {
  width: 100%;
}

.goals-table h2 {
  margin-left: 0px;
}

.goals-table .usa-table thead th a {
  cursor: pointer;
}

.goals-table .usa-table thead th {
  white-space: nowrap;
  background-color: white;
  border-top: solid 1.5px;
  border-color: #eceef1;
  border-bottom: none;
  padding-right: 0px;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 8px;
}

.goals-table .usa-table-container {
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 16px;
  overflow-x: auto;
}

.goals-table .usa-table-container > table {
  border-collapse: separate;
  border-spacing: 0px 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.goals-table .usa-table td {
  background-color: transparent;
  border-style: none;
  font-size: 15px;
  white-space: normal;
  line-height: 1.5;
  vertical-align: top;
  padding: 24px;
  border-top: 1px solid #c5c5c5;
}


.goals-table .usa-table .usa-checkbox__label {
  padding-left: 0;
}
.goals-table .usa-table .usa-checkbox__label::before {
  position: relative;
}

.goals-table .usa-table th {
  font-size: 15px;
  white-space: nowrap;
  background-color: transparent;
  border-style: none;
  color: black;
}

.goals-table .padding-0 > .desktop\:display-flex:first-child{
  margin-left: 24px;
  margin-right: 24px;
}

.goals-table .smart-hub--total-count {
  padding-right: 0px;
}

.goals-table .smart-hub--link-next {
  margin-right: 0px;
}

.goals-table .disabled {
  display: none;
}
