@use '../../colors.scss' as *;

.goals-table .usa-table-container .tta-smarthub--objective-rows td table {
  border-collapse: separate;
  border-spacing: 0px 16px;
}


.goals-table .usa-table .tta-smarthub--objective-rows td {
  padding-top: 0px;
  border-top: 0;
  border-right: 1px solid $base-lightest;
  border-left: 1px solid $base-lightest;
  border-bottom: 1px solid $base-lightest;
}

.tta-smarthub--goal-row-obj-table-rows,
.tta-smarthub--objective-rows .usa-list:last-child{
  background-color: $gray-two;
}

.goals-table .usa-table .tta-smarthub--objective-reasons-list {
  list-style-type: none;
}

.tta-smarthub--objective-rows .tta-smarthub--objective-reasons-list li,
.tta-smarthub--goal-row-obj-table  .tta-smarthub--objective-reasons-list li:first-child {
  padding: 0px;
  max-width: 270px;
  min-width: 270px;
}

.goals-table .tta-smarthub--objective-rows .tta-smarthub--objective-row td {
    border: none;
  }

/* Objective Cells */
.tta-smarthub--goal-row-obj-table li {
  display: table-cell;
}

// objective
.tta-smarthub--goal-row-obj-table li:first-child {
  min-width: 405px;
  max-width: 405px;
}

// activity reports
.tta-smarthub--goal-row-obj-table li:nth-child(2) {
  max-width: 135px;
  min-width: 135px;
}

// grant numbers
.tta-smarthub--goal-row-obj-table li:nth-child(3) {
  max-width: 130px;
  min-width: 130px;
}

// end date
.tta-smarthub--goal-row-obj-table li:nth-child(4) {
  max-width: 130px;
  min-width: 130px;
}

// reasons
.tta-smarthub--goal-row-obj-table li:nth-child(5) {
  max-width: 280px;
  min-width: 280px;
}

// obj status
.tta-smarthub--goal-row-obj-table li:nth-child(6) {
  max-width: 120px;
  min-width: 120px;
}
