.smart-hub--overview-header {
  margin-top: -35px;
  margin-left: -20px;
}

.smart-hub--overview-data {
  margin-left: -36px !important;
}

.smart-hub--overview-nowrap {
  white-space: nowrap;
}

.smart-hub--overview  h2 {
  font-size: 21px;
}

.smart-hub--overview-font-size {
  font-size: 19px;
}