
/* h2 font weight was being applied */
.smart-hub--qa-details--title-drawer {
    font-weight: 400;
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 1.5;
}
