@media( min-width: 640px){
    .smart-hub--resources-dashboard-overview  {
        column-gap: 1rem;
        row-gap:.5rem;
    }
}

@media( min-width: 1024px ){
    .smart-hub--resources-dashboard-overview  {
        gap: 1em;
    }
    .smart-hub--resources-dashboard-overview-field {
        margin: 0;
    }
}

.smart-hub--resources-dashboard-overview-field-icon-background {
    border-radius: 50%;
    height: 3em;
    width: 3em;
}


.smart-hub--resources-dashboard-overview-field .smart-hub--ellipsis {
    max-width: 200px;
}
