.ttahub--total-hrs-grantee-graph-legend {
  margin-left: 12%;
  margin-right: 12%;
  text-align: center;
}

.ttahub--total-hrs-grantee-graph-legend span {
  font-size: 16px;
  padding-right: 18px;
}

.ttahub--total-hrs-grantee-graph-legend span::after {
  height: 3px;
  content: " ";
  width: 80px;
  display: inline-block;
  background-color: #264a64;
  margin-left: 10px;
  margin-bottom: 2px;
}

.ttahub--total-hrs-grantee-graph-legend div:nth-child(2) span::after {
  background-color: #e29f4d;
}

.ttahub--total-hrs-grantee-graph-legend div:nth-child(3) span::after {
  background-color: #148439;
}

.ttahub--total-hrs-grantee-graph-legend div:nth-child(4) span::after {
  border-top: 3px dashed #0166ab;
  height: 3px;
  background-color: #ffffff00;
}
