.usa-skipnav:focus {
  z-index: 999999;
}

.smart-hub-offset-nav {
  margin-left: 8rem;
}

@media all and (min-width: 30em){
  .tablet\:smart-hub-offset-nav {
    margin-left: 11rem;
  }
}

@media all and (min-width: 64em){
  .desktop\:smart-hub-offset-nav {
    margin-left: 16rem;
  }
}

.smart-hub-bg-blue {
  background-color: #264a64;
}

.smart-hub-title {
  font-size: 1.25rem;
}

.smart-hub-cursor-pointer:hover {
  cursor: pointer;
}

body {
  background-color: #f8f8f8;
}

.text-ink {
  color: #21272D
}

.smart-hub-bg-blue-primary {
  background-color: #0166ab;
}

.smart-hub-border-blue-primary {
  border-color: #0166ab;
}

.smart-hub-maxw-placard {
  max-width: 34.25rem;
}

.height-12 {
  height: 6.5em;
}

.usa-legend {
  font-size: 2.13rem;
  font-weight: bold;
}

.SingleDatePickerInput__withBorder {
  border: 1px solid #565c65;
  border-radius: 0px;
}

.DateInput_input {
  color: #1b1b1b;
  font-weight: 400;
}

.SingleDatePickerInput__disabled {
  opacity: 0.7;
}


/* ========== Table stripe overrride ========== */
.usa-table--striped tbody tr:nth-child(2n+1) td, .usa-table--striped tbody tr:nth-child(2n+1) th {
  background-color: #f8f8f8;
}


/* ========== Print Styles ========== */

/* This is for elements that in the DOM that should appear only when printing */
.print-only {
  display: none;
}

@media print {
  .smart-hub-header {
    position: relative;
  }

 * {
    color: #000 !important;
    box-shadow: none !important;
    font-size: 12pt;
 }

  body {
    background: #fff !important;
    font-size: 12pt;
  }

  .grid-container {
    max-width: unset;
    width: 100%;
  }

  .print\:grid-col-6 {
    flex: 0 1 auto;
    width: 50%;
  }

  .usa-header {
    background: #fff !important;
  }

  .usa-nav-container {
    padding: 0 !important;
    margin: 0 0.125in !important;
  }

  .smart-hub-offset-nav {
    margin-left: unset;
  }

  .print-only {
    display: unset;
  }

  /* Hide things that don't need to be printed
   * ':empty' doesn't work on <textarea>, so we need to check values and set 'no-print' if empty
   * */
  .usa-nav,
  .usa-menu-btn,
  .no-print,
  input:empty,
  button[type="submit"]
  {
    display: none !important;
  }

  .usa-alert {
    background: none;
    border: 1px solid #adadad;
  }
  /* .usa-alert uses a :before to create the left border, which we want to remove */
  .usa-alert::before {
    display: none;
  }

  .smart-hub-review-section--empty {
    margin-bottom: 1in;
  }

  /* Show content that is hidden, e.g. collapsed accordions */
  [hidden] {
    display: unset;
  }

  .usa-section,
  .usa-section > div
  {
    margin: 0;
    padding: 0;
  }

  .new-activity-report {
    font-size: 36pt;
    margin: 0.25in 0;
  }

  .smart-hub-status-label {
    background: none;
    border: 1px solid #adadad;
  }

  .smart-hub-navigator-wrapper {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .smart-hub-review > div {
    padding: 0 !important;
  }

  .usa-accordion__button {
    background: none !important;
  }

  .usa-accordion__heading {
    break-before: auto;
    break-after: avoid-page;
  }

  .usa-accordion__heading .usa-accordion__button {
    color: #454545 !important;
    padding: 0;
  }

  .usa-accordion__content {
    break-before: avoid-page;
    break-after: auto;
    display: block;
    margin-bottom: 0.5in;
    padding: 0;
  }
}

.DayPickerNavigation_button {
  border: 1px solid #71767A;
  background-color: #fff;
}

.DayPickerNavigation_button:hover {
  background-color: #F0F0F0;
}

.DayPickerNavigation_button:focus {
  border: 1px solid #C4C4C4;
}

.DayPickerNavigation_button svg  {
fill: #1B1B1B;
}
