$smart-hub-bg-blue: #264a64; // ACF blue
$smart-hub-blue-primary: #0166ab;
$smart-hub-bg-grey: #f9f9f9; // background color, also used for alternating table stripes
$smart-hub-text-ink: #1b1b1b;
$smart-hub-orange: #e29f4d;
$smart-hub-med-teal: #407972;