$ttahubBlue: #264a64;
$ttahubMediumBlue: #336A90;
$ttahubBlueLighter: #eceef1;
$ttahubMagenta: #A12854;
$ttahubMagentaLight: #ffe8f0;
$smartHubTextInk: #1b1b1b;
$smartHubOrange: #e29f4d;
$smartHubMedTeal: #407972;