@media print {
  header {
    display: none;
  }

  // Overrides the extra padding around the whole app
  #appWrapper>div {
    padding: 0;
  }

  // Overrides the extra padding around the Approved AR view
  #main-content>.ttahub-activity-report-view>div {
    padding: 0;
  }

  // Overrides specific to the Approved AR View
  .ttahub-activity-report-view,
  .ttahub-collab-report-view {
    * {
      font-size: 14px;
    }

    h1 {
      font-size: 31.2px;
      margin-top: 0;
      margin-bottom: 24px;
    }

    h2 {
      font-size: 21.5px;
    }

    h3 {
      font-size: 18.1px;
      font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
    }

    .font-sans-3xs {
      font-size: 14px;
    }

    .ttahub-activity-report-view-creator-data {
      margin-bottom: 0;
    }

    .ttahub-read-only-content-section {
      orphans: 2;
      widows: 2;
      break-inside: auto !important;
    }

    .ttahub-read-only-content-section,
    .ttahub-read-only-content-section h3 {
      margin-top: 0;
      margin-bottom: 8px !important;
    }

    // Overrides to remove extra spacing between headings and data
    .ttahub-read-only-content-section--heading--section-row-title {
      flex-basis: fit-content;
      margin-right: 1ch;

      &::after {
        content: ":";
      }
    }

    .ttahub-read-only-content-section--heading--section-row-data {
      flex-basis: content;
    }
  }
}