.smart-hub--tooltip-with-ellipsis button {
    position: relative;
}
.smart-hub--tooltip-with-ellipsis button:hover [role="tooltip"],
.smart-hub--tooltip-with-ellipsis.show-tooltip button [role="tooltip"]{
    display: block;
    position: absolute;
    left: 150%;
    top: -17px;
    animation: fadein;
    animation-duration: 250ms;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}