.smart-hub--tooltip-truncated {
    border-bottom: 1px dashed;
    color: #21272D;
    font-size: 14px;
}

.smart-hub--ellipsis {
    color: #21272D;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: visible;
    white-space: nowrap;
    width: 173.5px;   
    text-overflow: ellipsis;
    vertical-align: middle;
}

.smart-hub--tooltip-with-ellipsis {
    display: inline-block;
    position: relative;
}

.smart-hub--tooltip-with-ellipsis button {
    display: block;
    line-height: 1.4;    
}

.smart-hub--tooltip-with-ellipsis:hover .usa-tooltip__body,
.smart-hub--tooltip-with-ellipsis.show-tooltip .usa-tooltip__body{        
    animation: fadein;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    display: inline-block;
    line-height: 1;
    position: absolute;
}

@keyframes fadein {
    0% {      
        opacity: 0;
    }

    100% {    
        opacity: 1;
    }
}