.smart-hub--tooltip-truncated {
    border-bottom: 1px dashed;
    color: #21272D;
    font-size: 14px;
}

.smart-hub--ellipsis {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: visible;
    white-space: nowrap;
    width: 173.5px;   
    text-overflow: ellipsis;
    vertical-align: middle;
}

.smart-hub--tooltip-with-ellipsis {
    display: inline-block;
}

.smart-hub--tooltip-with-ellipsis button {
    line-height: 1.4;
    position: relative;
}

.smart-hub--tooltip-with-ellipsis button:hover [role="tooltip"],
.smart-hub--tooltip-with-ellipsis.show-tooltip button [role="tooltip"]{
    display: inline-block;
    position: absolute;
    animation: fadein;
    animation-duration: 250ms;
    right: 0;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}