.grants-list-container {
    min-height: 220px;
    max-height: 220px;
    overflow-y: scroll;
}

.grants-list-container .usa-table th {
    position: sticky;
    top: 0;
    background-color: white;
  }