.usa-table.usa-table--borderless.single-recipient-select-table {
    margin-top: 8px;
    margin-bottom: 24px;
}

.usa-table.usa-table--borderless.single-recipient-select-table tr {
  border: 0px;
}

.usa-table.usa-table--borderless.single-recipient-select-table td {
    border: 0px;
    margin-bottom: 12px;
    padding-left: 0px;
  }