.smart-hub-collab-report {

  // Fixes a margin issue with the "indicates required field" element
  form .cr-activity-summary-required p:first-of-type {
    margin-bottom: 0;
  }

  // Aligns text inputs
  .usa-input:not([type=number]),
  .usa-textarea {
    max-width: 498px;
  }
}