p Hello,
p You have been added as a collaborator on Activity Report #{displayId}.
p Access this report in the TTA Smart Hub:  
a(href=reportPath) #{reportPath}
p  
  | Best Regards,
  | Your TTA Hub Team