.filter-pill-container .smart-hub--ellipsis {
    display: inline;
    width: 290px;
    font-size: 16px;
    vertical-align: top;
}

.filter-pill-container .smart-hub--tooltip button {
    display: inline;
    line-height: 1.15;
}
