name: DB Restore

on:
  workflow_dispatch:
    inputs:
      source:
        description: use processed (anonymized) or prod data
        required: true
        type: choice
        options: 
        - production
        - processed
        default: "processed"
      source_date:
        description: either "latest" or a date in YYYY-MM-DD format
        required: true
        type: string
        default: "latest"
      target_db:
        description: Name of the db to restore into, e.g. "ttahub-dev-blue"
        required: true
        type: choice
        options: 
        - ttahub-staging
        - ttahub-dev-blue
        - ttahub-dev-red
        - ttahub-dev-green
        - ttahub-dev-gold
        - ttahub-dev-pink

jobs:
  restore:
    runs-on: ubuntu-latest
    concurrency:
      group: db-restore
      cancel-in-progress: false
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
