name: DB Restore

on:
  workflow_dispatch:
    inputs:
      source:
        description: use processed (anonymized) or prod data
        required: true
        type: choice
        options: 
        - production
        - processed
        default: "processed"
      source_date:
        description: either "latest" or a date in YYYY-MM-DD format
        required: true
        type: string
        default: "latest"
      target_db:
        description: Name of the db to restore into, e.g. "ttahub-dev-blue"
        required: true
        type: choice
        options: 
        - ttahub-dev-blue
        - ttahub-dev-red
        - ttahub-dev-green
        - ttahub-dev-gold
        - ttahub-dev-pink

jobs:
  restore:
    runs-on: ubuntu-latest
    concurrency:
      group: db-restore
      cancel-in-progress: false
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      # - name: CF Login
      #   # Reference: https://github.com/cloud-gov/cg-cli-tools
      #   uses: cloud-gov/cg-cli-tools@main
      #   with:
      #     cf_username: ${{ secrets.CG_DEV_USERNAME }}
      #     cf_password: ${{ secrets.CG_DEV_PASSWORD }}
      #     cf_space: ${{ secrets.CG_DEV_SPACE }}
      #     cf_org: hhs-acf-ohs-tta
      #     cf_command: apps
      - name: Execute DB Restore Task 
        uses: elliottpope/cloudfoundry-cli-action@v6
        with:
          CF_API: https://api.my-cloud-foundry.com
          USERNAME: ${{ secrets.CF_USER }}
          PASSWORD: ${{ secrets.CF_PASSWORD }}
          ORG: my-org
          SPACE: dev
          COMMAND: | 
            set -e
            TASK_NAME="task-$(date +%s)"
            COMMAND="cd /home/vcap/app/db-backup/scripts; bash ./db_restore.sh ${{ github.event.inputs.source }} ${{ github.event.inputs.source_date }} ${{ github.event.inputs.target_db }}"
            echo "Running $TASK_NAME on environment $TARGET_ENV: $COMMAND"
            cf run-task ${{ github.event.inputs.target_db }} --name $TASK_NAME --memory 2G --command "$COMMAND" 
            echo "Waiting for task to complete..."
            sleep 15
            ./bin/watch-task.js $TARGET_ENV $TASK_NAME
            echo "Gathering logs..."
            sleep 30
            #cf logs $TARGET_ENV --recent | grep $TASK_NAME


