.ttahub-recipient-record--profile-table .usa-table td,
.ttahub-recipient-record--profile-table .usa-table th {
  border: 0;
  border-bottom: 0;
}

.ttahub-recipient-record--profile-table table {
  font-size: 14px;
  margin: 0;
}

.ttahub-recipient-record--profile-table th {
  vertical-align: bottom;
  position: sticky;
  top: 0;
  background-color: white;
}

.ttahub-recipient-record--profile-table thead th[aria-sort] {
  background: white;
}

.ttahub-recipient-record--profile-table th > .sortable {
  position: relative;
  background: none;
  border: none;
  font-weight: bold;
}

.ttahub-recipient-record--profile-table th > .sortable::after {
  display: none;
}
.ttahub-recipient-record--profile-table th > .sortable span::after {
  content: "";
  background-image: url(../../../images/sort_both.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  display: inline-block;
  position: absolute;
  height: 100%;
  right: -12px;
  bottom: 0;
  width: 10px;
  height: 20px;
}

@media(max-width: 1160px) and (min-width: 40em) {
  .ttahub-recipient-record--profile-table th > .sortable span::after {
    right: auto
  }
}
 
.ttahub-recipient-record--profile-table th > .sortable.asc span::after {
  background-image: url(../../../images/sort_asc.png);
}
  
.ttahub-recipient-record--profile-table th > .sortable.desc span::after {
  background-image: url(../../../images/sort_desc.png);
}