.ttahub-activity-report-view-table-container {
    border: 1px solid #C5C5C5;
    display: inline-block;
}

.ttahub-activity-report-view-table-container caption {
    font-size: 1.5rem;
}

.ttahub-activity-report-view-table-container .usa-table tr:nth-child(even) th,
.ttahub-activity-report-view-table-container .usa-table tr:nth-child(even) td {
  background-color: #F8F8F8;
}   

.ttahub-activity-report-view-table-container .usa-table th,
.ttahub-activity-report-view-table-container .usa-table td {
    border: 0;
    padding: 1rem;
}

.ttahub-activity-report-view-table-container .usa-table th {
    font-weight: bold;
}